.App {
  font-family: sans-serif;
  height: 100vh;
  position: relative;
}

.App.dark {
  background-color: #222;
  color: white;
}

.navbar {
  padding: 10px 5px;
  background-color: rgb(144, 202, 219);
  color: black;
  font-size: 0.6rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.dark .navbar {
  background-color: black;
  color: rgb(144, 202, 219);
}

.navbar-title {
  margin: 0 5px;
}

.bar-icon {
  font-size: 1.75rem;
  margin: 0 5px;
}

.navbar-bars-icon {
  margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #111;
  color: white;
  text-align: center;
  padding: 3px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}

.dark .tooltip .tooltiptext {
  background-color: #222;
  color: white;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sidebar {
  position: absolute;
  height: calc(100% - (20px + 30px));
  width: 15.625rem;
  background-color: rgba(144, 202, 219, 0.678);
  overflow: auto;
  text-align: center;
}

.dark .sidebar {
  background-color: rgba(34, 34, 34, 0.678);
  color: rgb(144, 202, 219);
}

.sidebar-item {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid;
  position: relative;
}

.sidebar-item:hover {
  background-color: rgb(131, 182, 197);
}

.dark .sidebar-item:hover {
  background-color: gray;
  color: white;
}

.sidebar-item-text {
  align-items: center;
  margin: 0;
}

.sidebar-item-icon,
.sidebar-item-add-icon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.sidebar-item-icon:hover {
  color: crimson;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-block: 10px;
  align-items: center;
}

.split {
  display: flex;
  flex-direction: column;
  height: 92%;
  width: 100%;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.dark .gutter {
  background-color: gray;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.editor {
  text-align: center;
}

.editor-textarea {
  margin: 0 auto;
  display: block;
  height: calc(100% - 150px);
  width: 98%;
  resize: none;
}

.dark .editor-textarea {
  background-color: black;
  color: white;
}

.preview {
  overflow: auto;
  width: 100%;
}

.panel {
  padding: 5px;
  text-align: left;
}

.panel-category {
  display: inline-block;
  margin: 5px;
}

.panel-category button {
  font-size: 1rem;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.dark .panel-category button {
  background-color: black;
  color: rgb(131, 182, 197);
}
.panel-category button:hover {
  background-color: black;
  color: white;
}

.dark .panel-category button:hover {
  background-color: gray;
  color: white;
}

.panel-save {
  float: right;
}
